@import "../../styles/colors";

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 2px solid $light-green;
}

.welcome {
  margin: 10px auto 10px 10px;
}

.signup {
  margin: 10px 10px 10px auto;
}

.btn {
  color: $green;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: $green !important;
  color: $white !important;
}

@media only screen and (max-width: 420px) {
  .btn {
    color: $green;
    font-size: 1.5rem;
  }
  .welcome {
    display: none;
  }
  .signup {
    margin: 10px 10px 10px 10px;
  }
}
